<div class="profile_friends title_bar">
    <div class="profile_friends title">{{ SISBF_APP_L10N.name }}</div>
</div>

<div class="profile_friends search_results">
    <div class="sisbf-app__app">
        <div class="state_block" style="">{{ SISBF_APP_L10N.app.sectionName }}</div>
        <ng-container [formGroup]="app">
            <div class="gray_bevel for_text_input sisbf-app__app-control">
                <!-- TODO: use css for ':' -->
                <span class="sisbf-app__app-control--addon">{{ SISBF_APP_L10N.app.appId.addon }}:</span>
                <input size="4" [attr.placeholder]="SISBF_APP_L10N.app.appId.placeholder" formControlName="appId">
            </div>
            <div class="gray_bevel for_text_input sisbf-app__app-control">
                <!-- TODO: use css for ':' -->
                <span class="sisbf-app__app-control--addon">{{ SISBF_APP_L10N.app.contextId.addon }}:</span>
                <input size="4" [attr.placeholder]="SISBF_APP_L10N.app.contextId.placeholder" formControlName="contextId">
            </div>
        </ng-container>
        <button class="btn_medium sisbf-app__app-control" [ngClass]="{
                    'btn_green_white_innerfade': !active && !completed,
                    'btn_blue_white_innerfade': active,
                    'btn_darkblue_white_innerfade': !active && completed
                }"
                (click)="onLoadInventories()">
            <!-- TODO: use ICU message format -->
            <span>
                <span class="sisbf-app__app-load--label">{{ SISBF_APP_L10N.app.loadInventories.label }}</span>
                <ng-container *ngIf="results">
                    <!-- TODO: use ICU message format -->
                    <span class="sisbf-app__app-load--counter">({{ results.results.length }}/{{ results.total }})</span>
                </ng-container>
            </span>
        </button>
    </div>


    <ng-container *ngIf="filtersScheme?.categories?.length">
        <div class="sisbf-app__filters">
            <div class="state_block" style="">{{ SISBF_APP_L10N.filters.sectionName }}</div>
            <div class="sisbf-app__filters-name">
                <div class="gray_bevel for_text_input sisbf-app__filters-control">
                    <input size="50" [attr.placeholder]="SISBF_APP_L10N.filters.name.placeholder" [formControl]="name">
                </div>
                <button class="btn_medium btn_green_white_innerfade sisbf-app__filters-control" (click)="onSearch()">
                <span>
                    <span class="sisbf-app__filters-search--label">{{ SISBF_APP_L10N.filters.search.label }}</span>
                </span>
                </button>
            </div>

            <ng-container [formGroup]="filters">
                <div class="sisbf-app__filters-others">
                    <ng-container *ngFor="let category of filtersScheme.categories">
                        <!-- TODO: separate component? -->
                        <!-- TODO: use css for ':' -->
                        <label>{{ category.categoryName }}:</label>
                        <ng-select
                            [items]="category?.items || []"
                            [multiple]="true" [searchable]="true"
                            bindLabel="name" bindValue="name"
                            [formControlName]="category.categoryName">
                            <!-- TODO: templates -->
                        </ng-select>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf="filteredResults?.length">
        <div class="sisbf-app__results">
            <div class="state_block" style="">{{ SISBF_APP_L10N.results.sectionName }}</div>
            <div class="sisbf-app__results-results">
                <ng-container *ngFor="let filteredResult of filteredResults; trackBy: trackParsedSteamInventory">
                    <ng-container *ngIf="filteredResult?.items?.length">
                        <sisbf-person [person]="filteredResult.person"></sisbf-person>
                        <div class="sisbf-app__results-results__items">
                            <ng-container *ngFor="let item of filteredResult.items; trackBy: trackParsedSteamInventoryItem">
                                <sisbf-inventory-item [item]="item" [excludeTags]="excludeTags"></sisbf-inventory-item>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>
