.sisbf-app {
    margin-bottom: 8px;
    display: block;

    &__app {
        &-control {
            margin: 0 10px 0 0;
            &--addon {
                padding-right: 5px;
            }
        }
    }
}
