<div class="profile_friends title_bar">
    <div class="profile_friends title">Search items between steam friends</div>
</div>

<div class="profile_friends search_results">
    <div class="sisbf-app__app">
        <div class="state_block" style="">App</div>
        <div class="gray_bevel for_text_input sisbf-app__app-control">
            <span class="sisbf-app__app-control--addon">Appid:</span>
            <input size="4" placeholder='Appid'>
        </div>
        <div class="gray_bevel for_text_input sisbf-app__app-control">
            <span class="sisbf-app__app-control--addon">Context:</span>
            <input size="4" placeholder='Context'>
        </div>
        <button class="btn_medium btn_green_white_innerfade sisbf-app__app-control">
            <span>Load inventories</span>
        </button>
    </div>
</div>
